html, body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'HarryP';
  src: url('HARRYP_.TTF');
}

#canvas-container {
  position: relative;
  isolation: isolate;
}

/* Background for the simulation area (matches `waterColor` in sketch.js) */
#canvas-container {
/*   background: rgb(52, 95, 214);
 */}

canvas {
  display: block;
}
